# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Environment
.env
.env.*

# IDE
.DS_Store
.vscode/
.idea/

# Logs
*.log
backend.log

# Database
backend/history.db
backend/database/

# Upload & saved images (jangan push ke GitHub)
backend/uploads/
backend/saved_images/
uploads/
saved_images/

# Temp files
*.tmp
*.bak

# macOS
.DS_Store
**/.DS_Store
backend/models/*.pt
